-i https://pypi.org/simple/
asgiref==3.3.4
django-cors-headers==3.6.0
django-extensions==3.1.0
django-filter==2.4.0
django-rest-framework==0.1.0
django-tqdm==1.0.0
django==3.1.9
djangorestframework==3.12.4
markdown==3.3.3
pytz==2021.1
sqlparse==0.4.1
tqdm==4.61.0
